<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Data</title>
    {% include 'shared_head.html' %}
    <script src="static/js/display.js"></script>
</head>
<body>

{% include 'header.html' %}
<div class="container">

<h1>Display Data</h1>

<table class="table-striped">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Predicate</th>
        <th>Object</th>
    </tr>
    </thead>
    <tbody id="tabul"></tbody>
</table>

<script>display_stuff('tabul',$('<div/>').html("{{result}}").text().split('\n'))</script>
</div>
</body>
</html>