<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Data</title>
    {% include 'shared_head.html' %}

    <script>

        var DB_NS = "{{ db_ns }}";
        var GT_NS = "{{ gt_ns }}";

        var GT_PREFIX = "{{ gt_prefix }}";
        var PREFIXES = [
            "@prefix {{db_ns}}: <{{ db_prefix }}>. ",
            "@prefix {{gt_ns}}: <{{ gt_prefix }}>. "
        ];

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <script src="static/js/d3_interface.js"></script>
    <script src="static/js/display.js"></script>
    <script src="static/js/parse_triples.js"></script>

</head>
<body>

    {% include 'header.html' %}

    <div class="container">

        <div id="status">loading...</div>

        <h1>Display Data</h1>

        <div id="buttons" style="display: none;">

        <button onclick="display_list('tabul',triples)">list</button>

        <button onclick="display_network(triples)">network graph</button>

    </div>

    <table class="table-striped" style="display: none">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
        </thead>
        <tbody id="tabul"></tbody>
    </table>

    <script>

        var raw = "{{result}}";
        var triples = parse_triples(raw);
        document.getElementById('status').style.display = 'none';
        document.getElementById('buttons').style.display = 'inline-block';
    </script>

</body>
</html>