<div id="network-config-form"></div>
<button class="form-control" onclick="set_g_config()">Set</button>

<script>


    var c = {
            // defaults
            linkStrength: 0,
            width: 1000,
            height: 1000,
            linkDistance: 50,
            charge: -1,
            friction: 0.1,
            gravity: 0
    }


    function set_g_config(){
        for (var i in c){
            c[i] = parseFloat(document.getElementById('i_'+i).value);
        }
    }

    for (var i in c){
        var ele = document.createElement('input');
        ele.id = 'i_'+i;
        ele.setAttribute('value',c[i]);

        document.getElementById('network-config-form').appendChild(ele);
        document.getElementById('network-config-form').innerHTML += '<span>'+i+'</span>';
        document.getElementById('network-config-form').innerHTML += "<br\>";
    }


</script>

